* {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: #a1b679;
}

.navbar-brand {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important
}

.navbar-brand img {
    width: 8rem;
    height: 8rem;
}

.encabezado {
    background-image: url(../img/PELOTA30.jpg);
    background-attachment: fixed;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    height: 35rem;
    align-items: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 48px;
}

.encabezadoDos {
    background-image: url(../img/PELOTA30.jpg);
    background-attachment: fixed;
    color: rgb(136, 223, 118);
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    height: 20rem;
    align-items: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 48px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 26px;
    font-style: none;
    color: black;
    margin-bottom: 2rem;
}

.bienvenida {
    width: 100%;
}

.dom {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 1rem;
}

.titPrimario {
    font-size: 38px;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.titSecundario{
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 2rem;
}
.titTerciario{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}
.adquiri {
    margin-bottom: 2rem;
}
.adquiri h3{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.form {
    border: 4px solid rgb(1, 82, 1);
    margin: 1rem;
    border-radius: 3px;
    width: auto;
    height: auto;
    padding: 2rem;
}

.contForm {
    display: flex;
    margin-left: 12%;
}

.form-floating {
    display: flex;
    font-size: 20px;
    padding: 1px;
    text-align: center;
    margin: 0;

}

.form-floating label {
    display: flex;
    position: absolute;
}

div label:hover {
    opacity: 0.65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.boton {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 20px;
    height: 3rem;
    width: 4.5rem;
    margin-left: 1rem;
}

.form-control {
    align-self: center;
    text-align: center;
    height: 1.5rem;
}


.card {
    margin: 0.5rem;
    padding: 0;
    width: auto;
    display: inline-block;


}

.card:hover {
    transform: scale(0.95);
    transition: all 800ms ease-in-out;
    opacity: 0.8;
}

.card-body {
    text-align: center;
}

.prod-cart {
    font-size: 22px;
}


.btnCard {
    background-color: rgb(20, 15, 15);
    color: white;
    border-radius: 3px;
    padding: 5px;
    font-size: large;
    width: 10rem;
    text-decoration: none;
}



/* carrito */

.carrito {
    font-size: 17px;
    background: linear-gradient(to right, #ffffff 0%, #ffffff 0%, #a1a593 100%);
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 4px;
    width: 900px;
    position: relative;
    text-align: center;
    margin-left: 12%;
    box-shadow:  3px 5px 5px rgb(80, 75, 75);
}

.carritoDetalles {
    margin-right: 1rem;
    margin-left: 0.25rem;
    text-align: center;
    align-self: center;
}
.prod1{
    color: #fd9804;
    font-weight: 700;
}
.subtotal1{
    color: rgb(117, 33, 27);
    font-weight: 800;
}
.carritoImg {
    width: 70px;
    height: 70px;
    margin: 3px;
}

.removeImg {
    align-self: center;
    width: 20px;
    height: 20px;
    border: 0.5px solid black;
    margin: 1rem 0.25rem 1rem 11rem;
    
}

.precio-final {
    text-align: center;
    font-weight: 1000;
    color: #000 ;
}

.valorFinal {
    font-size: 28px;
    font-style: bold;
    margin-bottom: 3px;
}

.pagar {
    font-size: 30px;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
}
.parrafoPagar{
    font-weight: 1000;
    color: #000 ;
}

.cliente {
    padding: 3rem;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}

.datosEnvios {
    font-size: 22px;
}

/* footer */

footer {
    font-family: "Montserrat", sans-serif;
    background: #3c3f3b;
    width: auto;
    height: auto;
    box-sizing: border-box;
    color: antiquewhite;
    line-height: 1.5;
    align-self: flex-end;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.footerMain {
    display: flex;
    width: 100%;
    padding: 1rem 1rem;
}

.footerItem {
    padding: 1rem;
    min-width: 200px;
    flex-direction: column;
}

.footerItem a {
    display: flex;
    margin-right: 35rem;
}

.footerTerm {
    padding: 25px;
    margin: 1;
    background-color: rgba(33, 37, 31);
    height: 5rem;
}

.footerTerm ul {
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.footerTerm ul li {
    padding: 5px;
    white-space: nowrap;
}